<div class="topnav" role="banner">

    <img width="40" alt="QuizEngange Logo" src="assets/images/logo.jpg" />

    <span>QuizEngage</span>


    <div class="spacer"></div>


</div>

<section class="content" role="main">

    <h3 class="level-text">Please select level type</h3>
    <div class="row">
        <div class="column easy">

            <div class="card" routerLink="/easy-quiz">
                <div class="circle">

                    <i class="fas fa-grin-hearts"></i>
                    <h3 class="level-text-primary">EASY</h3>
                </div>

            </div>
        </div>

        <div class="column medium">
            <div class="card" routerLink="/medium-quiz">
                <div class="circle">
                    <i class="fas fa-grin-alt"></i>
                    <h3 class="level-text-primary">MEDIUM</h3>
                </div>
            </div>
        </div>

        <div class="column hard">
            <div class="card" routerLink="/hard-quiz">
                <div class="circle">
                    <i class="fas fa-smile"></i>
                    <h3 class="level-text-primary">HARD</h3>
                </div>

            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>