<app-nav-bar></app-nav-bar>


<section class="content" role="main">

    <h3 class="level-text">Please select level type</h3>
    <div class="row">
        <div class="column">
            <div class="card">
                <h3 routerLink="/easy-quiz">EASY</h3>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3 routerLink="/medium-quiz">MEDIUM</h3>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3 routerLink="/hard-quiz">HARD</h3>

            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>