<!-- Toolbar -->

<div class="topnav" role="banner">

  <img width="40" alt="QuizEngange Logo" src="assets/images/logo.jpg" />

  <span>QuizEngage</span>


  <div class="spacer"></div>

  <div class="example-button-container">
    <button mat-mini-fab color="warn" aria-label="Example icon button with a plus one icon"
      >{{wrongAnswerCount}}

    </button>
  </div>
  <div class="example-button-container">
    <button mat-mini-fab color="accent" aria-label="Example icon button with a filter list icon"
      >
      {{correctAnswerCount}}
    </button>
  </div>


</div>