<nav class="topnav" role="banner">

  <img width="40" alt="QuizEngange Logo" src="assets/images/logo.jpg" />

  <span>QuizEngage</span>


  <div class="spacer"></div>
</nav>


<!-- <div class="content" role="main">
 

  <div>
    <img src="assets/images/bg.jpg" alt="quiz engage image" class="bg" />
  </div>
</div> -->

<div class="container">

  <div class="cover">


    <img src="assets/images/logo.jpg" id="bg" alt="">
    <h1>Welcome to Quiz Engage, A Quiz App for you!</h1>
    <form class="flex-form">
      
      <button type="submit" class="flex-form" routerLink="/quiz-level">
        Start Quiz
      </button>
    </form>

  </div>

</div>

<app-footer></app-footer>