/* You can add global styles to this file, and also import other style files */
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.content {
  display: flex;
  overflow-y: scroll;
  max-width: 100%;
  min-width: 100%;
  flex-direction: column;
  height: 100%;
  align-items: center;
  background: rgb(235, 238, 249);
}

.question-card {
  width: auto;
  max-width: 60%;
  height: auto;
  position: absolute;
  top: 13%;
  left: 39%;
  background-color: #ffff;
  padding: 26px;
  margin: -25px 0 0 -25px;
  font-weight: 600;
  box-shadow: 3px 3px 5px 6px #ccc;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.38);
  border-radius:5px ;
}

.question-text {
  color: rgba(0, 0, 0, 0.89);
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  background-color: #07961d;
  margin-right: 20px;
  margin-left:5px;
}



.topnav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #ffff;
  color: #d26159;;
  font-weight: 600;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  z-index: 2;
}

.spacer{
  flex: 1;
}



